.profile{
  margin: 60px 0 0 0;
  width: 70%;
}
.per{
  margin-top: 80px;
  margin-bottom: 80px;
}
.edit{
  align-items: center;
}
.e-form{
  margin: 0 0 0 26%;
}
#map {
  width: 100%;
  height: 500px;
}
.mapa{
  float: right;
  margin: -48% 5% 0 0;
}
.userP{
  max-height: 300px;
  min-width: 100%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #4a4a4a;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: red;
  color: white;
}

.modal-body {padding: 2px 16px;}

.mod{color: white;
  margin: 10px 0 20px 0;
}
.inf{
  font-size: 17px;
  margin-top: 20px;
}