*{
  padding: 0%;
  margin: 0%;
}
#form-registro{
  float: right;
  margin: 10% 20% 0 0;
}
.reg{
  color: black;
}
.logo{
  width: 50%;
  height: auto;
}
#form-login{
  float: right;
  margin: 16% 20% 0 0;
}