.about{
  margin: 4% 0 0 5%;
  width: 40%;
  height: 900px;
  color: white;
}
.qs{
  padding-top: 16%;
  color: white;
}
.qs1{
  color: white;
}
.cards{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 100px;
  right: 40px;
}
.card{
  width: 50%;
}
.card1{
  width: 50%;
  height: 270px;
}
.logo2{
  width: 70%;
  height: auto;
  margin: -80px 0 0 10%;
}
