<footer>
<hr>
<div class="pagos">
<em class="pago">Paga seguro con</em>
<br>
<i class="fab fa-cc-visa fa-3x"></i>
<i class="fab fa-cc-mastercard fa-3x"></i>
<i class="fab fa-cc-paypal fa-3x"></i>
</div>
<div class="social">
<button class="btn"><i class="fab fa-facebook-f"></i></button>
<em>©SweetDrinks</em>
</div>
</footer>