<footer>
<hr>
<div class="pagos">
<em class="pago"><strong>Paga seguro con</strong></em>
<br>
<i class="fab fa-cc-visa fa-3x"></i>
<i class="fab fa-cc-mastercard fa-3x"></i>
<i class="fab fa-cc-paypal fa-3x"></i>
</div>
<div class="social">
<div class="face"><a class="a" href="https://www.facebook.com/SweetDrinks-1956020524489405/"><i class="fab fa-facebook-f fa-2x"></a></i></div>
<em class="copy">©SweetDrinks</em>
</div>
</footer>