<nav id="navbar">
  <a href="/" class="a"><em><em id="s">S</em>weet<em id="d">D</em>rinks</em></a>
  <a href="/" class="a">Home</a>
  <a href="/info/aboutUs" class="a">¿Quiénes somos?</a>
  <a href="/info/contact" class="a">Contacto</a>
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
     <a class="list">
            Cerveza
          </a>
          <a class="list">
            Vinos de Mesa
          </a>
          <a class="list">
            Whiskey
          </a>
          <a class="list">
            Vodka
          </a>
          <a class="list">
            Tequila
          </a>
          <a class="list">
            Cognac
          </a>
          <a class="list">
            Ron
          </a>
          <a class="list">
            Mezcladores
          </a>
          <a class="list">
            Botana
          </a>
          <a class="list">
            Jugos
          </a>
          <a class="list">
            Cigarros
          </a>
          <a class="list">
            Farmacia
          </a>
          <a class="list">
            Juegos y más
          </a>
          <a class="list">
            Servicios
          </a>
  </div>
</div>
  <form method="GET" action="/auth/signup" class="margin">
  <button class="button1" type="submit"><strong>Sign up</strong></button>
  </form>
  <form method="GET" action="/auth/login" class="margin2">
  <button class="button2" type="submit"><strong>Log in</strong></button>
  </form>
</nav>