<nav id="navbar">
  <a href="/" class="a"><em><em id="s">S</em>weet<em id="d">D</em>rinks</em></a>
  <a href="/" class="a"><i class="fas fa-home"></i> Home</a>
  <a href="/info/aboutUs" class="a"><i class="fas fa-users"></i> ¿Quiénes somos?</a>
  <a href="/info/contact" class="a"><i class="fas fa-mobile-alt"></i> Contacto</a>
  <a href="/menu/productos" class="a"><i class="fas fa-bars"></i> Menú</a>

  <form method="GET" action="/auth/signup" class="margin">
  <button class="button1" type="submit"><strong><i class="fas fa-user-plus"></i> Regístrate</strong></button>
  </form>
  <form method="GET" action="/auth/login" class="margin2">
  <button class="button2" type="submit"><strong><i class="fas fa-sign-in-alt"></i> Iniciar sesión</strong></button>
  </form>
</nav>