<nav id="navbar" class="uk-width-expand@m">
  <a href="/" class="a"><em><em id="s">S</em>weet<em id="d">D</em>rinks</em></a>
  <a href="/" class="a"><i class="fas fa-home"></i> Home</a>
  <a href="/info/aboutUs" class="a"><i class="fas fa-users"></i> ¿Quiénes somos?</a>
  <a href="/info/contact" class="a"><i class="fas fa-mobile-alt"></i> Contacto</a>
  <a href="/menu/productos" class="a"><i class="fas fa-bars"></i> Menú</a>

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">{{user.name}}</button>
    <div id="myDropdown" class="dropdown-content">
      <form action="/profile/account" method="GET">
      <button class="btn" type="submit">Mi cuenta</button>
      </form>
      <form action="/auth/logout" method="POST">
      <button class="btn danger" type="submit">Cerrar sesión</button>
      </form>
    </div>
  </div>
</nav>