<main id="main">
<div class="about">
  <h1 class="qs">¿Quiénes somos?</h1>
  <p>Que onda, somos el equipo de SweetDrinks.
¿Cuántas veces al estar en una fiesta o reunión por la noche, necesitas salir a la tienda a comprar algún producto?</p>
<p>Debido al gran problema de inseguridad que se vive en la Ciudad de México y a la imprudencia de conductores bajo el efecto del alcohol surge la idea de un servicio de bar a domicilio.</p>
<h2 class="qs1">Con SweetDrinks:</h2>
<ul>
  <li>No hay alcoholímetro, ya que no tienes que salir por ningún motivo a la calle.</li>
  <li>Puedes tener seguridad al no tener que salir de tu casa</li>
  <li>Pagas rapido y seguro con tarjeta en línea o efectivo a la entrega.</li>
  <li>Recibes un servicio express de forma segura, rápida y sin salir de tu fiesta..</li>
</ul>
<div class="image"><img class="logo2" src="/images/logo5.png" alt="Logo"></div>
</div>
<div class="cards">
<div class=" card uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"  uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="http://i.imgur.com/52AYgOY.gif" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="filo uk-card-title">Filosofia</h3>
            <p>Somos una pequeña empresa que vela por los desvelados, ofreciendo servicios puntuales de bar a domicilio.</p>
        </div>
    </div>
</div>
<div class=" card1 uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="https://daddymindtricks.com/wp-content/uploads/2016/06/Whiskey-on-the-rocks.gif?x27882" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class=" mision uk-card-title">Misión</h3>
            <p>Convertirnos en unos de los mejores al ofrecer permanentemente un servicio de confianza, calidad en nuestros productos y atención al cliente, con el fin de ser su compañero de fiestas por las noches.</p>
        </div>
    </div>
</div>
<div class=" card uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="http://i.imgur.com/jK5BTOU.gif" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Visión</h3>
            <p>Ser una empresa reconocida a nivel nacional e internacional por su ética, calidad en el servicio y seguridad.</p>
        </div>
    </div>
</div>
</div>
</main>