<header>
  <div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="http://warp.la/wp-content/uploads/2016/03/Fiesta.jpg" style="width:100%" >
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="https://micasainn.com/wp-content/uploads/2016/06/ibiza.jpg" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="http://naslednick.online/netcat_files/697/787/musick_i_tolpa.jpg" style="width:100%">
  <div class="text"></div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
</header>
<main>

  <div id="pasos">
    
    <h2>¿Còmo funciona?</h2>
    <p>Es muy fácil, puedes hacer tu pedido en tan sólo unos minutos.</p>

  <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>

    <div>
        <div class="uk-card uk-card-default uk-card-body uk-width-auto@m"><i class="fas fa-user-plus fa-3x"></i><br><br><em class="paso">Regístrate</em><br><em class="paso2">Haz una cuenta con nosotros para seguir con tu pedido</em></div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-width-auto@m"><i class="fas fa-shopping-cart fa-3x"></i><br><br><em class="paso">Haz tu pedido</em><br><em class="paso2">Contamos con las mejores marcas</em></div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-width-auto@m"><i class="fas fa-shipping-fast fa-3x"></i><br><br><em class="paso">Confirma tu pedido</em><br><em class="paso2">Te mantendremos al tanto del estado y tiempo de entrega</em></div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-width-auto@m"><i class="far fa-credit-card fa-3x"></i><br><br><em class="paso">Realiza tu pago</em><br><em class="paso2">Puedes pagar con tarjeta o efectivo a la entrega.</em></div>
    </div>
</div>

</div>

</main>