<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="icon" href="/images/tarro.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Luckiest+Guy|Monoton" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/stylesNav.css" />
  <link rel="stylesheet" href="/stylesheets/stylesHead.css" />
  <link rel="stylesheet" href="/stylesheets/stylesReg.css" />
  <link rel="stylesheet" href="/stylesheets/stylesF.css" />
</head>
<body>
  {{> nav}}

  {{{body}}}
  
  {{> footer}}
  <script src="/javascripts/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
</body>
</html>