<div id="form-registro">
    <div class="reg">
        <h1>Iniciar sesi칩n</h1>
    </div>
    
    <form action="/auth/login" method="POST">

      
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon:  mail"></span>
                <input class="uk-input" type="email" name="email" placeholder="Correo electr칩nico">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password" placeholder="Contrase침a">
            </div>
        </div>

        <p uk-margin>

            <button type="submit" class="uk-button uk-button-primary">Iniciar sesi칩n</button>

        </p>

    </form>

</div>