<main id="main">
    <img class="logo" src="/images/logo5.png" alt="Logo">
    <div id="form-login">
        <div>
            <h1 class="reg">Iniciar sesión</h1>
        </div>

        {{#if msg }}

            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ msg }}</p>
            </div>

            {{/if}}
            
        <form class="login" action="/auth/login" method="POST">


            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon:  mail"></span>
                    <input class="uk-input" type="email" name="email" placeholder="Correo electrónico">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" name="password" placeholder="Contraseña">
                </div>
            </div>

            <p class="account-message">
                ¿Aún no tienes cuenta? 
                <a href="/auth/signup"><i class="fas fa-user-plus"></i> Regístrate</a>
            </p>
            <p class="account-message">
                <a href="/auth/signup"><i class="fas fa-unlock"></i> ¿Olvidaste tu contraseña?</a>
            </p>

            <p uk-margin>

                <button type="submit" class="uk-button uk-button-primary"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>

            </p>

        </form>

    </div>
</main>