<div>
  <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
  {{#each cerveza}}
  {{> cerveza this}}
  {{/each}}
  </div>
  <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
  {{#each vino}}
  {{> vino this}}
  {{/each}}
  </div>
  <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
  {{#each tequila}}
  {{> tequila this}}
  {{/each}}
  </div>
</div>