<div>
  <div>
    <h1>Cervezas</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each cerveza}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
  <div>
    <h1>Vinos de mesa</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each vino}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
  <div>
    <h1>Tequilas</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each tequila}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
  <div>
    <h1>Brandys</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each brandy}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
    <div>
    <h1>Rones</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each ron}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
    <div>
    <h1>Vodkas</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each vodka}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
   <div>
    <h1>Whiskeys</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each whiskey}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
    <div>
    <h1>Ginebras</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each ginebra}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
    <div>
    <h1>Mezcladores</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each mezclador}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
    <div>
    <h1>Jugos</h1>
    <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
      {{#each jugos}}
      {{> productos this}}
      {{/each}}
    </div>
  </div>
</div>