<div id="form-registro">
    <div class="reg">
        <h1>Regístrate</h1>
    </div>

    <form action="/auth/register" method="POST">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" name="name" placeholder="Nombre completo">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon:  mail"></span>
                <input class="uk-input" type="email" name="email" placeholder="Correo electrónico">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon:  phone"></span>
                <input class="uk-input" type="tel" name="phone" placeholder="Número + lada">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                <input class="uk-input" type="date" name="date">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password" placeholder="Contraseña">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password-confirm" placeholder="Reingresa tu contraseña">
            </div>
        </div>

        <p uk-margin>

            <button type="submit" class="uk-button uk-button-primary">Registrarme</button>

        </p>

    </form>

</div>