<main>
    
    <img class="logo" src="/images/assembly.png" alt="Logo">

        <div id="form-registro">

            <h1 class="reg">Regístrate</h1>

            {{#if msg }}

            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ msg }}</p>
            </div>

            {{/if}}

            <form class="form" action="/auth/register" method="POST">

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" name="name" placeholder="Nombre completo">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon:  mail"></span>
                        <input class="uk-input" type="email" name="email" placeholder="Correo electrónico">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon:  phone"></span>
                        <input class="uk-input" type="tel" name="phone" placeholder="Número + lada">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                        <input class="uk-input" type="date" name="date">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" name="password" placeholder="Contraseña">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" name="password-confirm" placeholder="Reingresa tu contraseña">
                    </div>
                </div>

                <p class="account-message">
                    Ya tienes cuenta?
                    <a href="/auth/login">Log in</a>
                </p>

                <p class="uk-margin">

                    <button type="submit" class="uk-button uk-button-primary">Registrarme</button>

                </p>

            </form>

        </div>
</main>